* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: lightcoral;
}

.main-container {
  min-width: 400px;
  padding: 4rem;
  display: flex;
  place-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.inputs-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  flex-wrap: wrap;
  user-select: none;
}

.inputs-container label {
  font-size: 1.125rem;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 33.33%;
}

input[type="radio"] {
    display: none;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  background-color: black;
  padding: 1rem;
}

h1 span {
    cursor: pointer;
}

button {
  width: 140px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
}

button:hover {
    background: linear-gradient(
        135deg,
        red,
        yellow
    );
    border: none;
}

label:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

input[type="radio"]:checked + label {
    background-color: rgba(0, 0, 0, 0.5);
}
